.how .head-how p{
    font-weight: bold;
    color: #DDD9D4;
    margin-top: 20px;
}
.how .head-how h1{

    font-weight: bold;
    color: #987A54;
}
.how .row p{
    font-weight: bold;
    color: #DDD9D4;
}
